@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

body {
  font-family: "Noto Serif", serif;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 20px;
  box-shadow: 0 14px 6px -1px rgb(223, 223, 223);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 2em;
}

nav p,
nav a {
  color: #515151;
  font-weight: 300;
}

footer {
  color: rgb(230, 228, 228);
  text-align: center;
  margin-top: 100px;
}

.my-gradient {
  margin-top: -50px;
}

@media screen and (min-width: 1300px) {

  footer {
    margin-top: 400px;
  }
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin: 20px 20px 20px 20px;
}

/* index styles */
.blogs a {
  display: block;
  margin: 50px 0;
  border-left: 6px solid rgb(6, 6, 139);
  background-color: #dce4e4;
  padding: 20px 10px 20px 40px;
  box-shadow: 5px 2px 6px 1px rgb(201, 200, 200);
  border-radius: 5px;
}

.blogs a:hover h3 {
  color: crimson;
}

/* details styles */
.details {
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  /* border-bottom: 2px solid gainsboro; */
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  margin-left: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 17px;
  cursor: pointer;
}

.about {
  margin-left: 200px;
  margin-right: 200px;
}